#nome_usuario {
    background-color: yellow;
}

#lbl_user {
    background-color: aqua;
}

.azul {
    color: blue;
}

.azul-fundo {
    background-color: cornflowerblue;
}

table tbody tr td {
    background-color: red;
}

table tfoot tr td {
    background-color: yellow;
}
