h1 {
    text-align: center;
}

td {
    font-size: 80px;
    height: 100px;
    text-align: center;
    width: 100px;
}

table {
    border: solid 5px gray;
    margin: auto;
}

tr:nth-of-type(2n+1)>td:nth-of-type(2n),
tr:nth-of-type(2n)>td:nth-of-type(2n+1) {
    background-color: #927a5a;
}
